{% extends 'base.html' %}

{% block main %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="center-container-hx">
        <div class="contents">
            {% for bbs in bbs_list %}
                <img class="lz_img" src="{{ bbs.author.photo }}"/>    <!-- 楼主资料 -->
                <div class="lz">{{ bbs.author }}</div>
                <div class="post_contents">    <!-- 帖子内容 -->
                    <a style="font-size: 160%" href="/detail/{{ bbs.id }}"> {{ bbs.title }}</a>
                    <br>
                    {{ bbs.summary }}
                </div>
                <div>评论数:{{ bbs.total_comment }}</div>
                <hr>
            {% endfor %}
        </div>
    </div>

    {% if page_obj %}
        {% include './include/pagination.html' %}
    {% endif %}

    {% if category_chosen_id %}
        {% include './include/sub_bbs.html' %}
    {% endif %}

{% endblock %}